@import 'https://fonts.googleapis.com/css?family=Cabin';
@import url('https://fonts.googleapis.com/css?family=Montserrat');
@font-face {
	font-family: Avenir;
	src: url('fonts/AvenirNextLTPro-Regular.otf') format('opentype');
}
#wholepage{max-width: 100%;}
body{margin-left: 0px ;
	margin-right: 0px ;
	display: inline;
	background-color: black;
color: #19DBDB;
font-family: 'Avenir', sans-serif;
font-size: 200%;
text-align: center;}
#logo{
	text-align: center;
	border-color: black;
	padding-top: 20%;
	padding-bottom: 7%;
}
#logo2{
	padding-top: 8%;
}
.sticky{
	position: fixed;
	top: 0;
	width: 100%;
}
.sticky + .content {
  padding-top: 7%;
}
#navbar{
	overflow: hidden;
	display: block;
	background-color: black;
}

nav ul {
	overflow: hidden;
    list-style-type: none;
	padding-left: 5%;
	margin-bottom: -13%;
}
nav ul li{
	display: inline-block;
	padding-left: 3%;
	padding-right: 3%;
	width: 25%;
	padding-bottom: 24%;	
	text-align: center;
	font-size: 70%;

}
nav ul li a{
	text-decoration: none;
	color: inherit;
	cursor: pointer;
}
.button{
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-top: 5%;
	margin-bottom: 5%;
	width: auto;
	font-size: 50%;
	text-align: center;
	height: 7%;
	line-height: 15%;
	background-color: #000000;
	border-color:#00FFFF;
}
.button h1{
	color: white;
}
.button:hover{
	box-shadow: 0.5px 0.5px 0.5px 0.5px #00FF80;
}

ul{width: 89%;
	margin-left: -5%;}
ul li{
	display: inline-block;
	width: auto;
	padding-right: 1.5%;
	text-align: center;
	font-size: 40%;
}
ul li a{
	text-decoration: none;
	color: inherit;
	cursor: pointer;
}
#paragraph1{line-height: 5vh;}
.paragraph2{
	padding: 50px;
	margin-bottom: 20px;
}
.paragraph2 p{
	display: inline;
	line-height: 20vh;
}
span.addui-Typing-text{
	display: inline;	
}
h1{
	text-align: center;
	font-size: 100%;
	font-family: 'Avenir', sans-serif;
	font-weight: 100;
	color: #19DBDB;
}

.heading h1{
	font-size:125%;		
}
#addi{
	color: white;
	font-size: large;
	padding-top: 1%;
}
#detail{
	line-height: 5vh;
	font-size: large;
	color: white;
}
footer {
	width: 100%;
	box-sizing: border-box;}
footer p {
	font-size: 40%;
}

.addui-Typing-caret {
  position: inherit;
  top: -1px;
  padding: 0 1px;
}
.addui-Typing-blink {
  animation: blink-animation 1s steps(5, start) infinite;
  -webkit-animation: blink-animation 1s steps(5, start) infinite;
}
@keyframes
  blink-animation {  to {
   visibility: hidden;
  }
}
a{
	text-decoration: none;
	color: inherit;
}
@-webkit-keyframes
  blink-animation {  to {
   visibility: hidden;
  }
}
@media only screen and (min-width: 800px) {
    @import 'https://fonts.googleapis.com/css?family=Cabin';
@import url('https://fonts.googleapis.com/css?family=Montserrat');
@font-face {
	font-family: Avenir;
	src: url('fonts/AvenirNextLTPro-Regular.otf') format('opentype');
}
ul{
	width: 90%;
	margin-left: 0;
}
nav ul {
	overflow: hidden;
    list-style-type: none;
	padding-left: 5%;
	margin-bottom: -1%;
}
nav ul li{
	display: inline-block;
	padding-left: 4%;
	padding-right: 4%;
	width: 10%;
	padding-bottom: 4%;	
	text-align: center;
	font-size: 70%;

}
nav ul li a{
	text-decoration: none;
	color: inherit;
	cursor: pointer;
}
#logo{
	text-align: center;
	border-color: black;
	padding-top: 0;
	padding-bottom: 1%;
}
.button{
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-top: 2.5%;
	margin-bottom: 5%;
	border-radius: 0%;
	width: auto;
	font-size: 50%;
	text-align: center;
	height: 7%;
	line-height: 15%;
	background-color: #000000;
	border-color:#00FFFF;
}
.button h1{
	color: white;
}
.button:hover{
	box-shadow: 0.5px 0.5px 0.5px 0.5px #00FF80;
}
ul li{
	display: inline-block;
	width: auto;
	padding-left: 3%;
	padding-right: 0;
	text-align: center;
	font-size: 50%;

}
ul li a{
	text-decoration: none;
	color: inherit;
	cursor: pointer;
}

}
